.logo svg {
  font-size: 30px;
  color: rgb(45, 112, 45);
  margin: 5px;
}

.draw-wrapper {
  margin: 50px;
  border: 1px solid gray;
}

.dark .header-top {
  background-color: #1c2656;
  color: #fff;
}

.dark .k-drawer-content,
.dark .custom-toolbar,
.dark .header-area,
.dark .intro-section {
  background-color: #1c2656;
  color: #fff;
}

.dark #coaches,
.dark #paddles,
.dark #tournaments {
  background-color: #293677;
}

.dark .k-h4,
.dark .k-drawer-content p,
.dark .k-svg-icon,
.dark .custom-toolbar,
.dark .k-drawer-item .k-item-text,
.dark .k-h5,
.dark h1,
.dark #coaches .k-card p,
.dark #paddles .k-card p,
.dark #paddles .k-card h2,
.dark .k-card-body p,
.dark .k-step-list-horizontal .k-step-label,
.dark #coaches .k-card h2,
.dark #coaches .k-card-subtitle,
.dark .tourney-content p,
.dark .reviews p,
.dark .reviews h2,
.dark .k-stepper {
  color: #fff;
}

.dark .k-drawer-separator {
  background-color: #656565;
}

.dark .k-card-header,
.dark .k-card {
  border-color: #a5a5a5 !important;
}

.dark .k-card {
  background-color: #232947;
}

.main-content {
  margin-top: 130px;
}

.k-chip-solid-base.k-selected {
  background-color: rgb(188, 225, 188) !important;
}

.title {
  margin-left: 20px;
  font-weight: bold;
  font-size: 21px;
}
.custom-toolbar {
  width: 100%;
  background-color: #f6f6f6;
  line-height: 10px;
  border-bottom: inset;
  border-bottom-width: 1px;
  padding: 10px;
  color: #656565;
}

.emoji-stepper .emoji {
  height: 100%;
  line-height: 30px;
  font-size: 24px;
}
.custom-stepper .k-progressbar {
  height: 4px;
  top: 18px;
}

.custom-stepper .k-progressbar .k-selected {
  background: linear-gradient(to right, #ffc837, #ff8008);
}

.custom-step {
  width: 40px;
  height: 40px;
  border: 2px solid #ff8008;
  border-radius: 10px;
  background-clip: padding-box;
  border-radius: 10px;
  box-sizing: border-box;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.k-step-done .custom-step {
  background-image: radial-gradient(circle at center, #ffc837 10px, #ff8008);
}

.k-step:not(.k-step-done):not(.k-step-current) .custom-step {
  border: 2px solid #ccc;
}

.k-step-link .k-icon {
  font-size: 24px;
  color: #000;
}

.k-step-link .step-label {
  color: #75240d;
  font-weight: bold;
}

.reviews {
  width: 100%;
  padding: 30px 20px 20px 20px;
}

.header-area {
  height: 325px;
}

.k-stepper .k-step-current .k-step-indicator,
.k-stepper .k-step-done .k-step-indicator {
  border-color: var(--tb-color-palette-sky-blue) !important;
  color: var(--kendo-color-on-primary, #ffffff);
  background-color: var(--tb-color-palette-sky-blue) !important;
}

.k-stepper .k-step-current .k-step-indicator,
.k-stepper {
  cursor: pointer;
}

.k-card {
  border-color: rgb(197, 197, 197) !important;
  box-shadow: none;
}
.k-card-media {
  background-color: #fff;
}

.k-card-body {
  border-top: 1px solid rgb(197, 197, 197) !important;
}

.header-top {
  border-bottom: 1px solid rgb(198, 198, 198);
  background-color: var(--tb-color-palette-crisp-white);
}

.k-menu .menu-chip {
  background-color: #d8d8d8 !important;
  border-radius: 10px;
  color: #000;
  font-weight: bold;
  font-size: 20px;
  margin: 0 10px;
}
.k-rating-item.k-selected:hover,
.k-rating-item.k-selected.k-hover {
  color: var(--tb-color-palette-purple-court) !important;
}
.k-menu .menu-chip:hover,
.k-menu .menu-chip:focus {
  background-color: var(--tb-color-palette-purple-court) !important;
  color: #fff !important;
  border-color: #333;
}
.k-menu .menu-chip:hover svg,
.k-menu .menu-chip:focus svg {
  color: #fff !important;
}
.k-menu .menu-chip svg {
  color: #333;
}

.section-sel .k-button-text,
.section-sel svg {
  font-size: 15px;
}

.grid-tourneys .k-button-flat-primary {
  background-color: var(--tb-color-palette-sky-blue);
  color: var(--tb-color-palette-sky-blue) !important;
}

.grid-tourneys .k-button-flat-primary {
  color: var(--tb-color-palette-sky-blue) !important;
}

.grid-tourneys .k-input-solid:focus,
.grid-tourneys .k-input-solid:hover,
.grid-tourneys .k-input-solid:focus-within,
.grid-tourneys .k-input-solid:active {
  border-color: var(--tb-color-palette-sky-blue) !important;
}

:root {
  --kendo-color-primary: var(--tb-color-palette-sky-blue) !important;
}
