@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mouse+Memoirs&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap");

:root {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  color: #000;
  background-color: #f8f9fa;

  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Mouse Memoirs", sans-serif;
  font-weight: 900;
  font-style: normal;

  color: #202020;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  height: 100vh;
  background-color: #f3f3f3;
  min-height: 100vh;
  font-weight: 500;
}
